<header>
  <h1 href="/" ><span class="york">New</span> York <span class="york">Times</span> Scraper</h1>
  <nav>
    <ul>
      <li>
        <a  href="/saved">Saved</a>
      </li>
      <li>
        <a href="/scrape">Scrape</a>
      </li>
    </ul>
  </nav>
</header>

{{#each scraped_articles}}
    <div class="card">
      <div class="img-container">
        <img alt="" src={{img}} />
        <button class="save">Save</button>
      </div>
      <br/>
      <div class="content">
        <ul>
          <li>
           <strong>{{title}}</strong> 
          </li>
          <li>
            {{p}}
          </li>
        </ul>
      </div>

    </div>
</div>
{{/each}}