.york {
  color: red;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
  display: fixed;
}

/* HEADER */

header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav li {
  display: inline-block;
  margin-left: 25px;
  color: #f3f3f3;
}
.links {
  color: blue;
}

.links:visited {
  color: blue;
}

.navWord {
  color: #f3f3f3;
  text-decoration: none;
  font-size: 1.5em;
}
.navWord:visited {
  color: #f3f3f3;
  text-decoration: none;
  font-size: 1.5em;
}
.card {
  background: #fff;
  border-radius: 2px;
  height: 30em;
  margin: 1rem;
  position: relative;
  width: 20em;
  overflow: scroll;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}
.card img {
  position: relative;
  height: 15em;
  width: 20em;
}
.card .save {
  width: 4em;
  height: 2em;
  color: red;
  font-size: 1em;
  margin-left: 1em;
}
.card .delete {
  width: 4em;
  height: 2em;
  color: red;
  font-size: 1em;
  margin-left: 1em;
}

.img-container {
  border: solid grey 2px;
}
.content {
  padding: 1em;
  width: 20em;
}
h2,
p {
  padding: 0.2em;
}
h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
}

.articles {
  display: inline-flex;
}
.message {
  text-align: center;
  padding-top: 2em;
  font-size: 3em;
}
